<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>client-app</title>
    <link href="http://localhost:8100/css/about.css" rel="prefetch">
    <link href="http://localhost:8100/js/about.js" rel="prefetch">
    <link href="http://localhost:8100/css/app.css" rel="preload" as="style">
    <link href="http://localhost:8100/js/app.js" rel="preload" as="script">
    <link href="http://localhost:8100/css/app.css" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    @RenderBody()
    <noscript><strong>We're sorry but client-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>

    <script src="http://localhost:8100/js/app.js"></script>
</body>
</html>